.card {
  /* width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  border-style: solid;
  border-color: rgba(166, 166, 166, 1);
  align-items: center;
  margin: 0 10px 100px;
  border-radius: 20px;
  border-width: 1px;
  gap: 10px; */
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  border-style: solid;
  border-color: rgba(166, 166, 166, 1);
  align-items: center;
  margin: 0 10px 100px;
  border-radius: 20px;
  border-width: 1px;
}

.card-img {
  width: 330px;
  max-width: 90%;
  height: 230px;
  object-fit: cover;
  border-radius: 16px;
  position: relative;
}

.name {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.txt {
  /* width: 85%;
  gap: 10px;
  display: flex;
  align-items: flex-start; */
  /* justify-content: space-between; */
  width: 85%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category {
  color: rgba(0, 0, 0, 0.63);
  font-size: 18px;
}

.price {
  color: rgba(0, 113, 45, 1);
  font-size: 18px;
}
.info-i {
  position: absolute;
  right: 18px;
  top: -8px;
}
.ii {
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .card {
    width: 300px;
    height: 450px;
    margin: 0 10px 20px;
  }
}
@media (max-width: 340px) {
  .card {
    width: 90%; 
    height: auto; 
    margin: 0 5px 20px; 
    padding: 10px;
  }

  .card-img {
    height: 150px; 
  }

  .name, .price, .category {
    font-size: 14px;
  }

  .txt {
    gap: 5px;
  }
}