<section class="section1 position-relative vh-100 vw-100 overflow-hidden">
    <img src="assets\rasclny-images\aboutus.jpeg" alt="" class="w-100 h-100 position-absolute">
    <div class="lyer w-100 h-100 position-absolute"></div>
</section>

<section class=" section2 py-5">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <img src="assets\diversity.png " alt=Icon class="icon me-2">
        <h3>About Us</h3>
    </div>

    <div class="row align-items-center justify-content-evenly">
        <div class="col-12 col-xl-6 col-lg-6 col-md-8 p-5">
            <img src="assets\rasclny-images\download.png" alt="Recycling Process" class="w-100">
        </div>
        <div class="col-12 col-xl-6 col-lg-6 col-md-8 text-center text-md-start px-3">
            <div class="text p-5">
                <h2 class="mb-4">Our Website Overview</h2>
            <p class="about">
                This Project Aims To Reduce Food Waste By Collecting Unused Food From Homes And Restaurants And Providing Users With Money In Return.
                It Contributes To Raising Environmental And Economic Awareness In Society By Efficiently Utilizing Leftover Food, Reducing Waste, And Supporting Families And Restaurants With Additional Income.
            </p>
            <p>
                We Have Other Features Such As Taking Glass, Wood, Metal, And Paper In Exchange For Money As Well.
            </p>
            <div class="btns d-flex align-items-center justify-content-center mt-4">
                <button [routerLink]="'/intro'" class="btn btn-success me-2" >Website</button>
                <button [routerLink]="'/our'" class="btn btn-outline-dark">Our Team</button>
            </div>
            </div>
        </div>
    </div>
</section>

