<footer>
  <div class="footer-container">
    <!-- First Div -->
    <div class="footer-section">
      <h2>Categories</h2>
      <ul class="arrow-list">
        <div [routerLink]="'products/'">
          <li>
            <p style="cursor: pointer; width: fit-content">food</p>
          </li>
          <li>
            <p style="cursor: pointer; width: fit-content">Metall</p>
          </li>
          <li>
            <p style="cursor: pointer; width: fit-content">Glass</p>
          </li>
          <li>
            <p style="cursor: pointer; width: fit-content">paper</p>
          </li>
          <li>
            <p style="cursor: pointer; width: fit-content">Plastic</p>
          </li>
        </div>
      </ul>
    </div>
    <!-- Second Div -->
    <div class="footer-sectionTwo">
      <h2>Follow us on social media</h2>
      <div class="social">
        <a
          href="https://www.facebook.com/profile.php?id=61569292385785"
          target="_blank"
        >
          <div class="social-circle">
            <div class="clip-circle facebook"></div>
            <img
              src="https://mohameds16.github.io/jfc-consultant/images/icons/facebook.webp"
              class="facebook-logo"
            />
          </div>
        </a>
        <div class="social-circle">
        <a href="#" target="_blank">
          <div class="social-circle">
            <div class="clip-circle instagram"></div>
            <img
              src="https://mohameds16.github.io/jfc-consultant/images/icons/instagram.webp"
              class="instagram-logo"
            />
          </div>
        </a>
      </div>
      <div class="social-circle">
        <a href="https://www.tiktok.com/@rasclny3?_t=8rlP3ZUplHG&_r=1" target="_blank">
          <div class="social-circle">
            <div class="clip-circle tiktok"></div>
            <img
              src="https://cdn.icon-icons.com/icons2/2748/PNG/512/tiktok_apps_platform_icon_176035.png"
              class="tiktok-logo"
            />
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="footer-sectionFour">
      <div class="flex-Row">
        <p>Contact us :</p>
        <p class="number">01091922742 /</p>
        <p class="number">01112756671</p>
      </div>
      <div class="flex-Row">
        <p>E-mail :</p>
        <p>hello@rasclny.egypt.com</p>
      </div>
      <div class="flex-Row row">
        <div class="flex-Row app-button YouTube">
          <img class="logo linkedin" src="\assets\rasclny-images\youtube.png" />
          <a href="https://youtube.com/@rasclny?si=fPj00t1jziwb3RyI">
            <div class="flex-column">
              <p>Watch Us</p>
              <h1>on YouTube</h1>
            </div></a
          >
        </div>
        <div class="flex-Row app-button">
          <img
            class="logo linkedin"
            src="\assets\rasclny-images\linkedin.png"
          />
          <a
            href="https://www.linkedin.com/in/rasclny-company-87922733b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><div class="flex-column">
              <p>Connect with Us</p>
              <h1>on LinkedIn</h1>
            </div></a
          >
        </div>
      </div>
    </div>
    <!-- Third Div -->
    <div class="footer-sectionThree">
      <p><strong>Clean your area</strong></p>
      <img src="assets/footer.png" alt="Clean your area image" />
    </div>
  </div>
</footer>
