 <section class="recycling-tips">
    <div class="tips-container">
      <h2 class="section-title">نصائح لإعادة التدوير في المنزل</h2>
      <p class="section-description">
        اكتشف أفضل الطرق لإعادة التدوير وفصل المخلفات بسهولة في منزلك لتحافظ على البيئة.
      </p>
  
      <div class="tips-grid">
        <div class="tip-card">
          <img src="assets\chatt.jpeg" alt="Recycle Bin" class="tip-icon" />
          <h3>فصل المخلفات</h3>
          <p>افصل المخلفات إلى أوراق، بلاستيك، زجاج، ومعادن للحصول على إعادة تدوير أفضل.</p>
        </div>
  
        <div class="tip-card">
          <img src="assets\rasclny-images\foodwastresy.webp" alt="Compost" class="tip-icon" />
          <h3>تحويل النفايات العضوية</h3>
          <p>استخدم النفايات العضوية مثل بقايا الطعام لتحضير السماد الطبيعي.</p>
        </div>
  
        <div class="tip-card">
          <img src="\assets\earth.jpeg" alt="Reduce Waste" class="tip-icon" />
          <h3>تقليل الاستهلاك</h3>
          <p>حاول شراء المنتجات القابلة لإعادة الاستخدام لتقليل كمية المخلفات.</p>
        </div>
      </div>
    </div>
  </section>
  

  