 <section class="recycling-tips">
    <div class="tips-container">
      <h2 class="section-title">Recycling Tips at Home</h2>
      <p class="section-description">
        Discover the best ways to recycle and easily separate waste in your home to protect the environment.      </p>
  
      <div class="tips-grid">
        <div class="tip-card">
          <img src="assets\chatt.jpeg" alt="Recycle Bin" class="tip-icon" />
          <h3> Waste separation</h3>
          <p>Separate waste into paper, plastic, glass, and metals for better recycling.</p>
        </div>
  
        <div class="tip-card">
          <img src="assets\rasclny-images\foodwastresy.webp" alt="Compost" class="tip-icon" />
          <h3>Organic waste conversion </h3>
          <p>Use organic waste, such as food scraps, to prepare natural compost.</p>
        </div>
  
        <div class="tip-card">
          <img src="\assets\earth.jpeg" alt="Reduce Waste" class="tip-icon" />
          <h3>Reduce consumption.</h3>
          <p>Try to buy reusable products to reduce waste.</p>
        </div>
      </div>
    </div>
  </section>
  

  