.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.order-completed-container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
}

.svg-icon {
  text-align: center;
  margin-bottom: 20px;
}

.svg-icon svg {
  width: 500px;
  height: 500px;
}

.order-completed-container h1 {
  color: #4CAF50; /* Green for success */
}

.order-actions button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-actions button:hover {
  background-color: #45a049;
}
