<!-- <div *ngFor="let category of data?.categories">
  <ng-container *ngIf="isLoading; else content"> </ng-container>
  <ng-template #content>
    <div class="card-container" [routerLink]="['/category', category?._id]">
      <div class="card">
        <div class="front-content">
          <p>{{ category.name }}</p>
        </div>
        <div class="content">
          <p class="heading">{{ category.name }}</p>
          <p>
            {{ category.descreption }}
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div> -->
<!-- <div class="contan">
  <div class="cont-categ"> <div>
    <div class="card-container">
      <div class="card">
        <div class="front-content">
          <p>food</p>
        </div>
        <div class="content">
          <p class="heading">category.name</p>
          <p>category.descreption</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card-container">
      <div class="card">
        <div class="front-content">
          <p>category.name</p>
        </div>
        <div class="content">
          <p class="heading">category.name</p>
          <p>category.descreption</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card-container">
      <div class="card">
        <div class="front-content">
          <p>category.name</p>
        </div>
        <div class="content">
          <p class="heading">category.name</p>
          <p>category.descreptionn</p>
        </div>
      </div>
    </div>
  </div>
  <div class="last-categ"><div class="card-container">
    <div class="card">
      <div class="front-content">
        <p>category.name</p>
      </div>
      <div class="content">
        <p class="heading">category.name</p>
        <p>category.descreption</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="front-content">
        <p>category.name</p>
      </div>
      <div class="content">
        <p class="heading">category.name</p>
        <p>category.descreptionn</p>
      </div>
    </div>
  </div></div>
    
  </div>
 
</div> -->



<div class="flex" >
        <div class="card-container food"  >
            <div class="card"[routerLink]="'/category'">
                <div class="front-content food">
                    <p>food
                    </p>
                </div>
                <div class="content ">
                    <p class="heading">Food</p>
                    <p>
                      Turn your food waste into  something valuable.We buy food scraps, expired products,and more. Help reduce waste, support sustainability,and get paid. Schedule a pickup and start earning today!
                    </p>
                </div>
                </div>
                <div class="posetion"></div>
</div>

   
        <div class="card-container  metal">
            <div class="card" [routerLink]="'/category'">
                <div class="front-content metall">
                    <p>Metal</p>
                </div>
                <div class="content">
                    <p class="heading">Metal</p>
                    <p>
                      Got scrap metal? We buy it! Turn your metal waste into cash while helping to reduce environmental impact. Schedule a pickup today and make a positive change for the planet!
                    </p>
                </div>
            </div>
            <div class="posetion"></div>
        </div>
  


 
    
        <div class="card-container paper">
            <div class="card" [routerLink]="'/category'">
                <div class="front-content paperr">
                    <p>Paper</p>
                </div>
                <div class="content">
                    <p class="heading">Paper</p>
                    <p>
                      Have excess paper? We buy it! Turn your paper waste into cash while helping to save trees and reduce landfill waste. Schedule a pickup today and contribute to a greener future!
                    </p>
                </div>
            </div>
            <div class="posetion"></div>
        </div>
  


        <div class="card-container plastic">
            <div class="card"[routerLink]="'/category'">
                <div class="front-content plasticc">
                    <p>Plastic</p>
                </div>
                <div class="content">
                    <p class="heading">Plastic</p>
                    <p>
                      Turn your plastic waste into value! We buy all types of plastic for recycling. Help reduce pollution and earn cash by recycling with us.Schedule a pickup today and make a difference.
                    </p>
                </div>
            </div>
            <div class="posetion"></div>
        </div>



      <div class="card-container Glass">
          <div class="card" [routerLink]="'/category'">
              <div class="front-content glasss">
                  <p>Glass</p>
              </div>
              <div class="content">
                  <p class="heading">Glass</p>
                  <p>
                    Got glass waste? We buy it! Turn your old glass items into cash and contribute to a greener, cleaner planet. Schedule a pickup today and join us in recycling for a more sustainable future!
                  </p>
              </div>
          </div>
          <div class="posetion"></div>
      </div>
 </div>

