<div class="rasclny-steps">
  <h2>How do you use rasclny simply?</h2>
  <p>Follow 3 steps to use rasclny</p>
  <div class="steps-container">
    <div class="step">
      <img src="\assets\create-account.png" alt="إنشئي حساب">
      <h3>Create your account easily</h3>
      <p>Enter your required personal information to make the process faster and easier</p>
    </div>
    <div class="step">
      <img  class=" diff-img" src="\assets\collect-points.png" alt="تجميع النقاط">
      <h3>Start collecting points</h3>
      <p>Separate the waste in your home and follow the simple guidelines</p>
    </div>
    <div class="step ">
      <img class="step2" src="assets\vanrasclny.jpeg" alt="إرسال الطلب">
      <h3>Submit the request</h3>
      <p>Our representative will reach your home at no cost</p>
    </div>
  </div>



