
 
  <!-- <div class="cards">
    <app-card
      class="CARDSS"
      [singleCategory]="singleCategory?.category?.products"
    ></app-card>
  </div>
   -->

 

 
<div class="content">
    <app-product-nav class="buttonss"></app-product-nav>
    <div class="cards">
      <app-card
        class="CARDSS"
        [singleCategory]="singleCategory"
      ></app-card>
    </div>
  
  <!-- <div class="content">
    <app-product-nav class="buttonss"></app-product-nav> -->
    <!-- <app-product-nav class="buttonss"></app-product-nav>
    <div class="cards">
        <app-card class="CARDSS"  [singleCategory]="singleCategory?.category?.products"></app-card>
    </div> -->
    <!-- <div class="card">
        <div class="ii">
            <img class="card-img" />
            <div class="info-i">
                <app-info></app-info>
            </div>
        </div>

        <div class="txt">
            <p class="name"> product?.name </p>
            <p class="price">product?.price Pound</p>
        </div>
        <app-button [color]="'white'"
            [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
    </div>
    <div class="card">
      <div class="ii">
          <img class="card-img" />
          <div class="info-i">
              <app-info></app-info>
          </div>
      </div>

      <div class="txt">
          <p class="name"> product?.name </p>
          <p class="price">product?.price Pound</p>
      </div>
      <app-button [color]="'white'"
          [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
  </div>
  <div class="card">
    <div class="ii">
        <img class="card-img" />
        <div class="info-i">
            <app-info></app-info>
        </div>
    </div>

    <div class="txt">
        <p class="name"> product?.name </p>
        <p class="price">product?.price Pound</p>
    </div>
    <app-button [color]="'white'"
        [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
<div class="card">
  <div class="ii">
      <img class="card-img" />
      <div class="info-i">
          <app-info></app-info>
      </div>
  </div>

  <div class="txt">
      <p class="name"> product?.name </p>
      <p class="price">product?.price Pound</p>
  </div>
  <app-button [color]="'white'"
      [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
<div class="card">
  <div class="ii">
      <img class="card-img" />
      <div class="info-i">
          <app-info></app-info>
      </div>
  </div>

  <div class="txt">
      <p class="name"> product?.name </p>
      <p class="price">product?.price Pound</p>
  </div>
  <app-button [color]="'white'"
      [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
<div class="card">
  <div class="ii">
      <img class="card-img" />
      <div class="info-i">
          <app-info></app-info>
      </div>
  </div>

  <div class="txt">
      <p class="name"> product?.name </p>
      <p class="price">product?.price Pound</p>
  </div>
  <app-button [color]="'white'"
      [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
<div class="card">
  <div class="ii">
      <img class="card-img" />
      <div class="info-i">
          <app-info></app-info>
      </div>
  </div>

  <div class="txt">
      <p class="name"> product?.name </p>
      <p class="price">product?.price Pound</p>
  </div>
  <app-button [color]="'white'"
      [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
<div class="card">
  <div class="ii">
      <img class="card-img" />
      <div class="info-i">
          <app-info></app-info>
      </div>
  </div>

  <div class="txt">
      <p class="name"> product?.name </p>
      <p class="price">product?.price Pound</p>
  </div>
  <app-button [color]="'white'"
      [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
</div> -->