<section class="container">
  <h2 class="my-5">Edit Profile</h2>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter new password (optional)">
    </div>

    <div class="mb-3">
      <label for="password_confirmation" class="form-label">Confirm Password:</label>
      <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirm new password (optional)">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid || isLoading">
      <span *ngIf="isLoading">Saving...</span>
      <span *ngIf="!isLoading">Submit</span>
    </button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </form>
</section>
