<!-- <div class="container">
<div class="flex-Row">


</div>


</div> -->
<div class="cards-wrapper">
  <div class="single-card">
    <img src="image1.jpg" alt="Card Image" class="card-image" />
    <h3 class="card-heading">How Smart Recycling Bins Are Revolutionizing Public Waste Management</h3>
    <p class="card-text">
      Anyone who has ever been to a public recycling center has likely been witness to bins overflowing with many incorrectly...
    </p>
  </div>

  <div class="single-card">
    <img src="image2.jpg" alt="Card Image" class="card-image" />
    <h3 class="card-heading">Recycling in Rural Areas: Challenges and Creative Solutions</h3>
    <p class="card-text">
      In a larger city, recycling is easy to manage. Recycling facilities tend to be nearby and easy to reach, so...
    </p>
  </div>

  <!-- Add more cards as needed -->
</div>

