section
{
    margin-top: 100px !important;
}
.part1 h1
{
    color: #00712d;
}
.part1 .btn
{
    border: none;
    border: 1px solid #00712d;
    background-color: #00712d;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    box-shadow: -1px 4px 8px black !important;
}
.part1 .btn:hover
{
    background: white;
    color: #00712d;
}
.part1 h6
{
    color: #00712d;
}

.part2 p
{
    font-size: 20px;
}
.part2 .icon
{
    width: 30px;
    height: 30px;
}

 .coin
{
    box-shadow: -1px 1px 3px gray;
}
.coin img
{
    max-width: 98%;
}
@media (max-width: 390px) {
   .point-image{
    display: none;
   }
   .point-items{
    margin-top: 50px;
   }
   .part1{
    margin-top: 60px;
   }
  }