section
{
    margin-top: 100px !important;
}
.part1 h1
{
    color: #00712d;
}
.part1 .btn
{
    border: none;
    border: 1px solid #00712d;
    background-color: #00712d;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    box-shadow: -1px 4px 8px black !important;
}
.part1 .btn:hover
{
    background: white;
    color: #00712d;
}
.part1 h6
{
    color: #00712d;
}

.part2 p
{
    font-size: 20px;
}
.part2 .icon
{
    width: 30px;
    height: 30px;
}

 .coin
{
    box-shadow: -1px 1px 3px gray;
}
.coin img
{
    max-width: 98%;
}
@media (max-width: 390px) {
   .point-image{
    display: none;
   }
   .point-items{
    margin-top: 50px;
   }
   .part1{
    margin-top: 60px;
   }
  }
  .point-image img {
    max-width: 100%; /* الصورة لا تتجاوز عرض الحاوية */
    height: auto; /* الحفاظ على الأبعاد الطبيعية للصورة */
    object-fit: contain; /* عدم تمدد الصورة */
    display: block;
    margin: 0 auto; /* توسيط الصورة */
}

/* لضبط التباعد عند الشاشات الصغيرة */
@media (max-width: 430px) {
    .point-image img {
        max-width: 70%; /* تقليل عرض الصورة إلى 70% */
        margin-top: 20px; /* إضافة تباعد علوي */
    }

    .section {
        margin-top: 50px !important; /* تقليل التباعد العلوي */
    }

    .part1 {
        margin-top: 30px;
    }

    .part2 {
        margin-bottom: 30px; /* تباعد سفلي إضافي للقسم */
    }
}
