<div class="intro-container"><video class="video-background" autoplay muted loop id="backSground-video">
  <source src="../../../assets/rasclny-images/WhatsApp Video 2024-10-06 at 3.48.12 PM.mp4" type="video/mp4">
  </video>
  <div class="content aanimate__animated animate__fadeInUpBig">
    <h1 class="">Hi,Welocome To RASCLNY</h1>
    <h3>
      Join us and see how a simple action on your part <br> can make a big
      difference in our world.
    </h3>
    <button [routerLink]="'/home'"  class="glow-on-hover"><a  class="join"> Join</a></button>
  </div></div>


    <!--intro bottom-->
    <div class="content-section">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="card-content">
          <h3>Since 2007 we have helped over 10 million customers find locations to responsibly recycle</h3>
        </div>
      </div>
    
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-database"></i>
        </div>
        <div class="card-content">
          <h3>We are the World's largest recycling database, with more than 100,000 unique data points</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-list"></i>
        </div>
        <div class="card-content">
          <h3>We offer an extensive range categories featuring over 50 different items and materials</h3>
        </div>
      </div>
      
    </div>
   
    
   
    <!-- <app-intro-bottom></app-intro-bottom> -->
